#welcomePage > a {
    text-align: center;
    padding: 50%;
    padding-left: 50%;
    padding-right: 50%;
    font-size: 50px;
    text-align: center;
}


.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main";

}